.header {
	background-color: #fff !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	box-shadow: none !important;
}

.header_left {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: 5px;
}

.header_logo svg {
	fill: #0a66c2;
	width: 40px;
	height: 40px;
}
.header_search svg {
	fill: rgba(0, 0, 0, 0.9);
	width: 1.9rem;
	height: 1.9rem;
}

.header_right {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}
