.feedInputOption {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 0 0.8rem !important;
	min-height: 4.8rem;
	line-height: 2.8rem !important;
}
.feedInputOption:hover {
	background-color: rgba(0, 0, 0, 0.08) !important;
	color: rgba(0, 0, 0, 0.6);
}
.feedInputOption svg {
	width: 2.4rem;
	height: 2.4rem;
}
.feedInputOption h4 {
	white-space: nowrap;
	font-size: 1.4rem;
	color: rgba(0, 0, 0, 0.6);
	text-transform: capitalize;
}
